.hud {
  display: grid;
  justify-self: center;
  gap: 1vh 20vw;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  color: #fff;
}

.tempo {
  font-size: 1.2em;
  font-weight: bold;
}

.tempo span, .pontos span {
  position: absolute;
  color: green;
  margin-left: 10px;
  font-weight: bold;
  animation: fadeOut .5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    top: 5px;
    opacity: 1;
  }

  100% {
    top: 0px;
    opacity: 0;
  }
}